.resultsContainer {
  max-width: 600px;
}

.itemsList {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 20px;
  overflow-y: auto;
  height: 80%;
  width: 600px;
  background-color: #202020;
  box-shadow: 2px 2px 10px 4px #404040;
  color: white;
  padding: 1px;
}

.empty p {
  display: block;
  width: 100%;
  height: 100%;
  align-content: center;
  text-align: center;
}

.resultsTitle {
  font-size: 20px;
  display: inline-block;
  max-width: 100%;
  color: white;
  opacity: .7;
  width: 100%;
}

.resultsTitleText {
  display: inline-block;
  font-weight: 300;
  font-size: 20px;
  color: white;
  opacity: 1;
  text-wrap: no-wrap;
  text-overflow: ellipsis;
}