.search {
  height: 40px;
  border-radius: 20px;
  width: 300px;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}

.clearSearch {
  height: 48px;
  width: 48px;
  position: relative;
  background: transparent;
  border: none;
  top: 8px;
  left: -48px;
  opacity: .6;
  transition: .1s;
}

.clearSearch:hover {
  opacity: 1;
  color: #242424;
  scale: 1.2;
}

.searchButton {
  background-color: #1ED760;
  color: white;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  font-size: 18px;
  vertical-align: middle;
}