:root {
  background-color: #242424;
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  overflow: hidden;
}

.main-title {
  color: white;
  width: 100%;
  text-align: center;
}

main {
  position: absolute;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 90%;
  overflow: hidden;
}